html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.logoCont > img {
    height: 2rem;
    width: auto;
}

.footer img {
    height: 18px;
    width: auto;
    margin: 2px 4px 0;
}